@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0c0c1e;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}



.sidebar-logo img {
    height: 105px;
    max-width: 100%;
	margin-top: 3rem;
	margin-left: 1rem;
}
#sidebar.hide .sidebar-logo img {
	visibility: hidden;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}



/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color:var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}

#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}
  
.box1{
	box-sizing: border-box;
	width: 153px;
	height: 153px;
	border:2px solid #3498db;
	box-shadow: -3px -3px 7px #ffffff73,
	3px 3px 5px rgba(94,104,121,0.288);
	border-radius: 50%;
	background-color: var(--light);
	margin-top: 50px;
	overflow: hidden;
	transition: all 1s;
	margin-left: 400px;
	
	}

	.box1:hover{
	width: 600px;
	height: 530px;
	border-radius: 5px;
	}
	.img-1{
	box-sizing: border-box;
	width:149px;
	height:149px;
	border-radius:50%;
	margin:0;
	border:5px solid #0082e6;
	padding: 3px;
	background-color: white;
	overflow: hidden;
	transition: all 1s;
	
	}
	.box1:hover .img-1{
	width: 120px;
	height: 120px;
	margin:20px 39% ;

	}
	hr{
	width:500px;
	line-height:20px;
	margin:10px 10px 10px 10px;
	}
	input[type="text"]
	 {
	display: block;
	box-sizing: border-box;
	color: #3498db;
	margin-bottom: 30px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #0082e6;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	background: none;
	margin-left: 30%;
	}
	input[type="text"]{
	margin-top: 25px;
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus {
	border-bottom: 2px solid #3498db;
	border-bottom-right-radius:20px;
	color: #3498db;
	transition: 0.2s ease;
	background: var(--light);
	border-top: none;
	}
	
	
	.btn-1{
	background-color: var(--blue);
	color:white;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	left:0;
	margin:0px;
	transition: all .3s;
	}
	.btn-1:hover{
	transform: scale(1.1);
	background-color: #03639b;
	}

	input[type="file"]{
	display:none;
	}
	.label-1{
	box-sizing: border-box;
	width:40px;
	height:20px;
	background-color: var(--blue);
	color:white;
	border:1px solid #3498db;
	background-color: var(--blue);
	color:white;
	padding: 4px;
	border-radius: 2px;
	margin-left: 43%;
	}
	.label-1:hover{
	background-color:#03639b;
	transform: scale(1.1);
	}

	.button-box {
		width: 220px;
		margin: 35px auto;
		position: relative;
		border-radius: 30px;
		background: #fff
	}
	
	.toggle-btn1 {
		padding: 10px 30px;
		cursor: pointer;
		background: transparent;
		border: 0;
		outline: none;
		position: relative;
		text-align: center;
	}
	
	#btn1 {
		left: 0;
		top: 0;
		position: absolute;
		width: 110px;
		height: 100%;
		background: var(--blue);
		border-radius: 30px;
		transition: .5s;
	}


#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}


#content main .table-data .order table tr td .action {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}




#content main .table-data .order table tr td .action.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .action.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .action.pending {
	background: var(--orange);
}

#content main .table-data .order table tr td .action:hover{
	transform: scale(1.1);
	background-color: #fba301;
	}
 
  .switch{

	position: relative;
	display: block;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);;
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
	margin-bottom: .1rem;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	background: var(--light);
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color:#000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: var(--blue);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
/*main*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container5 {
	border-radius: 5px;
	background-color: var(--light);
	padding: 10px;
	width: 70%;
	margin-left: 10%;
  }

  .container5 .img-1{
	width: 120px;
	height: 120px;
	margin:20px 39% ;
  }
	.container5 .label-2{
		box-sizing: border-box;
		width:107px;
		height:32px;
		background-color: var(--blue);
		color:white;
		border:1px solid #3498db;
		background-color: var(--blue);
		padding: 4px;
		border-radius: 2px;
		margin-left: 40%;
		}
		.container5 .label-2:hover{
		background-color:#03639b;
		transform: scale(1.1);
		}

		
	  .center {
		height:100%;
		display: block;
		align-items: center;
		
	  }
	  .form-input5 {
		width:350px;
		padding:20px;
		background: var(--light);
		box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
					3px 3px 7px rgba(94, 104, 121, 0.377);
	  }
	  .form-input5 input {
		display:none;
	  
	  }
	  .form-input5 label {
		display:block;
		width:45%;
		height:45px;
		margin-left: 25%;
		line-height:50px;
		text-align:center;
		background:#1172c2;
	  
		color: var(--light);
		font-size:15px;
		font-family:"Open Sans",sans-serif;
		text-transform:Uppercase;
		font-weight:600;
		border-radius:5px;
		cursor:pointer;
	  }
	  
	  .form-input5 img {
		width:100%;
		display:none;
	  
		margin-bottom:30px;
	  }
	  
		  
.wrapper{
	width: 470px;
	background: var(--light);
	border-radius: 5px;
	padding: 30px;
	box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
	margin-left: 26%;
  }
  .wrapper header{
	color: #6990F2;
	font-size: 27px;
	font-weight: 600;
	text-align: center;
  }
  .wrapper .form2{
	height: 167px;
	display: flex;
	cursor: pointer;
	margin: 30px 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	border: 2px dashed #6990F2;
  }
  .form2 :where(i, p){
	color: #6990F2;
  }
  .form2 i{
	font-size: 50px;
  }
  .form2 p{
	margin-top: 15px;
	font-size: 16px;
  }
  section .row{
	margin-bottom: 10px;
	background: #E9F0FF;
	list-style: none;
	padding: 15px 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  section .row i{
	color: #6990F2;
	font-size: 30px;
  }
  section .details span{
	font-size: 14px;
  }
  .progress-area .row .content{
	width: 100%;
	margin-left: 15px;
  }
  .progress-area .details{
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	justify-content: space-between;
  }
  .progress-area .content .progress-bar{
	height: 6px;
	width: 100%;
	margin-bottom: 4px;
	background: #fff;
	border-radius: 30px;
  }
  .content .progress-bar .progress{
	height: 100%;
	width: 0%;
	background: #6990F2;
	border-radius: inherit;
  }
  .uploaded-area{
	max-height: 232px;
	overflow-y: scroll;
  }
  .uploaded-area.onprogress{
	max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
	width: 0px;
  }
  .uploaded-area .row .content{
	display: flex;
	align-items: center;
  }
  .uploaded-area .row .details{
	display: flex;
	margin-left: 15px;
	flex-direction: column;
  }
  .uploaded-area .row .details .size{
	color: #404040;
	font-size: 11px;
  }
  .uploaded-area i.fa-check{
	font-size: 16px;
  }
 

  .btn_upload {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
	color: #fff;
	background-color: #2a72d4;
	border: 1px solid #166b8a;
	padding: 5px 10px;
  }
  
  .btn_upload:hover,
  .btn_upload:focus {
	background-color: #7ca9e6;
  }
  
  .yes {
	display: flex;
	align-items: flex-start;
	margin-top: 60px !important;
  }
  
  .btn_upload input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	filter: alpha(opacity=1);
	-moz-opacity: 0;
	opacity: 0;
  }
  
  .it {
	height: 100px;
	margin-left: 10px;
  }
  
  .btn-rmv1,
  .btn-rmv2,
  .btn-rmv3,
  .btn-rmv4,
  .btn-rmv5 {
	display: none;
  }
  
  .rmv {
	cursor: pointer;
	color: #fff;
	border-radius: 30px;
	border: 1px solid #fff;
	display: inline-block;
	background: rgba(255, 0, 0, 1);
	margin: -5px -10px;
  }
  
  .rmv:hover {
	background: rgba(255, 0, 0, 0.5);
  }
  

  
.drag-area{
	border: 2px dashed rgb(0, 87, 250);
	height: 200px;
	width: 400px;
	padding: 2rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  .drag-area.active{
	border: 2px solid rgb(5, 72, 255);
  }
  .drag-area .icon{
	font-size: 100px;
	color: rgb(0, 44, 238);
  }
  .drag-area header{
	font-size: 30px;
	font-weight: 500;
	color: rgb(2, 82, 231);
  }
  .drag-area span{
	font-size: 25px;
	font-weight: 500;
	color: rgb(0, 67, 251);
	margin: 10px 0 15px 0;
  }
  .drag-area button{
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	background: rgb(47, 68, 250);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
  }
  .drag-area img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
  }



  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup3 {
    margin: 70px auto;
    padding: 20px;
    background: var(--light);
	color: var(--dark);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
  }
  .popup3 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
	color: var(--dark);
  }
  .popup3 .content {
    max-height: 30%;
    overflow: auto;
  }



.popup3 .content .field{
    border-style: double;
    height: 40px;
    padding: 6px 12px;
    margin-top: 4%;
    margin-bottom: 1%;
    background-color: #fff;
	color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}


.popup3 .button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.popup3 button.blue{
    background-color: #1FB6FF;
}

.popup3 button.green{
    background-color: #13CE66;
}

.popup3 button.red{
    background-color: #FF4949;
}

.popup3 button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

.popup3 .modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
	margin-top: 3%;
}








.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }



  .popup4 {
    margin: 70px auto;
    padding: 20px;
    background: var(--light);
	color: var(--dark);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
  }
  .popup4 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
	color: var(--dark);
  }


  .popup4 .content {
    max-height: 30%;
    overflow: auto;
    color: #fff;
  }



  .popup4 .content .field{
	border-style: double;
    height: 40px;
    padding: 6px 12px;
    margin-top: 4%;
    margin-bottom: 1%;
    background-color: #fff;
	color: #000;

    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}


.popup4 .button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}


.popup4 button.blue{
    background-color: #1FB6FF;
}

.popup4 button.green{
    background-color: #13CE66;
}

.popup4 button.red{
    background-color: #FF4949;
}

.popup4 button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

.popup4 .modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
	margin-top: 3%;
}

.button-data{
	border-style: none;
    height: 30px;
    padding: 6px 12px;
	margin-top: 5%;
    background-color: #1172c2;
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

/* Modal Start */


.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
	height: 100%;
    opacity: 0;
    z-index: -1;
	background-color: var(--light);
	margin-left: 8%;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 65vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: var(--light);
    box-shadow: 1px 1px 10px black;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    color: var(--dark);
}

.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: var(--dark);
}

.modal-close:hover{
    background-color: #FF4949;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
}


.modal-field{
    width: calc(18% - 40px);
    height: 20px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:10px;
}


.modal-field:focus{
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}


.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

/* Modal End */



/* Pagination Styling */



footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}


.footer .pagination {
    width: 400px;
    height: 60px;
    border-radius: 9px;
    overflow: hidden;
  }
  .pagination, .pagination__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .pagination__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 350;
    height: 50px;
    border-radius: 9px;
    margin: 0 9px;
    overflow: hidden;
  }
  .pagination__item {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
  }
  .pagination__item > button, .pagination__button {
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 9px;
    background: #fff;
    color: #000;
  }
  .pagination__item > button:hover, .pagination__button:hover {
    background: var(--light-blue);
	color: rgb(0, 0, 0);

  }
  .pagination__item > button {
    width: 45px;
    height: 45px;
  }
  .pagination__item > button[data-level=target] {
    background: #1172c2;
    color: #fff;
  }
  .pagination--move-prev {
    -webkit-animation: pagination-move-prev 0.5s ease both;
            animation: pagination-move-prev 0.5s ease both;
  }
  .pagination--move-next {
    -webkit-animation: pagination-move-next 0.5s ease both;
            animation: pagination-move-next 0.5s ease both;
  }
  .pagination--move-top {
    -webkit-animation: pagination-move-top 0.5s ease both;
            animation: pagination-move-top 0.5s ease both;
  }
  .pagination__button {
    width: 35px;
    height: 35px;
  }
  
  @-webkit-keyframes pagination-move-prev {
    from, 0% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(-5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes pagination-move-prev {
    from, 0% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(-5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes pagination-move-next {
    from, 0% {
      transform: translateX(-25px);
    }
    50% {
      transform: translateX(5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @keyframes pagination-move-next {
    from, 0% {
      transform: translateX(-25px);
    }
    50% {
      transform: translateX(5px);
    }
    to, 100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes pagination-move-top {
    from, 0% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(10px);
    }
    to, 100% {
      transform: translateY(0px);
    }
  }
  @keyframes pagination-move-top {
    from, 0% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(10px);
    }
    to, 100% {
      transform: translateY(0px);
    }
  }




/* MAIN */
/* CONTENT */




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}




@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}


	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	} 
}
 
  